@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


a {
  color:lightgray;
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}

a:hover {
  color: #58668b;
}

.active {
  color: #242526;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #76b4bd;
}
nav a {
  margin-right: 50px;
}

nav .logo {
  margin-right: auto;
  margin-left: 20px;
 
}

section {
  height: 100vh; 
}
.contact-card {
  padding: 2.5rem;
  background-color: #76b4bd;
  margin-top: 5rem;
}

.section-heading {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}


.footer {
  
  text-align: center;
  padding: 30px;
  background-color: #ebf4f6;
}

.extra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf4f6;
}

.extra-nav a {
  color: #5e5656;
  font-size: 0.9rem;
  padding-bottom: 2.5rem;
}

.extra-nav a:hover {
  color: #58668b;
}

.extra-nav ul {
  list-style: none;
  padding: 0px;
}

.extra-nav .active {
  color: #242526
}

.secondary .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.secondary h2 {
  font-weight: bold;
}
.secondary .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.g-recaptcha {
  margin-top: 5; 
  margin-bottom: 25;
  transform:scale(0.82);
  transform-origin:0 0;
  
}

@media (max-width: 600px) {
  .contact-card {
    padding: 1.1rem;
    background-color: #76b4bd;
    margin-top: 5rem;
  }
}



