

.mainA {
   flex: 1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/david-gabric-ybMZZuCh7m4-unsplash.jpg");
}

.mainB {
  flex: 1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf4f6;
  overflow: hidden;
  padding-top: 4rem;
}
.mainC {
  flex: 1;
 min-height: 50vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: stretch;
 background-color: #76b4bd;
}

.mainContent {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.secondContent {
  padding-top: 2rem;
  height: 80vh;
  overflow: hidden;
  justify-content: flex-start;
}

.secondContent p {
  min-height: 7.5rem;
}

.contentRow {
  margin-bottom: 0px !important;
}
.buttonBoxArea {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 2rem;
}

.storeButtonApple {
  width: 88%
   
}

.buttonBox {
  width: 150;
  height: 50;
  align-items: stretch;
}
 
.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 20vh;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.subtitle {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}



.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
}

.logo {
  height: 1em;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
